@page "/admin/users"

@using DevOpsLab.Client.Components
@using DevOpsLab.Client.Components.Datagrid
@using DevOpsLab.Client.Components.Modal
@using DevOpsLab.Client.Helpers
@using DevOpsLab.Shared.Collections
@using DevOpsLab.Shared.Filter
@using DevOpsLab.Shared.Sort
@using DevOpsLab.Shared.ViewModels
@using Microsoft.AspNetCore.SignalR.Client

@inherits AdminBase

<h1>Users</h1>

<Datagrid @ref="_datagrid" FetchAsync="@FetchAsync" Paginate="true">
    <HeaderCells>
        <DatagridHeaderCell>
            <DatagridHeaderSort
                Text="Name"
                SortParam="@_sortParam"
                SortAsc="@AppUserSort.NameAsc"
                SortDesc="@AppUserSort.NameDesc"/>
            <DatagridHeaderFilterString
                OnChange="@(value => _filter.Name = value)"/>
        </DatagridHeaderCell>
        <DatagridHeaderCell>
            <DatagridHeaderSort
                Text="Email"
                SortParam="@_sortParam"
                SortAsc="@AppUserSort.EmailAsc"
                SortDesc="@AppUserSort.EmailDesc"/>
            <DatagridHeaderFilterString
                OnChange="@(value => _filter.Email = value)"/>
        </DatagridHeaderCell>
        <DatagridHeaderCell Separator="false">
            <DatagridHeaderSort
                Text="Role"
                SortParam="@_sortParam"
                SortAsc="@AppUserSort.RoleAsc"
                SortDesc="@AppUserSort.RoleDesc"/>
            <DatagridHeaderFilterString
                OnChange="@(value => _filter.Role = value)"/>
        </DatagridHeaderCell>
    </HeaderCells>
    <RowActionsTemplate/>
    <RowActionsTemplate>
        <DropdownLink ActionAsync="@(() => EditOpenAsync(context))">Edit</DropdownLink>
        <DropdownLink ActionAsync="@(() => DeleteOpenAsync(context))">Delete</DropdownLink>
    </RowActionsTemplate>
    <RowCellsTemplate>
        <DatagridCell>@context.Name</DatagridCell>
        <DatagridCell>@context.Email</DatagridCell>
        <DatagridCell>@context.Role</DatagridCell>
    </RowCellsTemplate>
</Datagrid>

<ModalForm
    @ref="_modalEdit"
     HeaderText="Edit User"
     Size="@ModalSize.Large"
     AfterCancel="@AfterCancel"
     BeforeSubmitAsync="@EditAsync"
     AfterSubmitAsync="@AfterSubmitAsync">
    <p>Form</p>
</ModalForm>

<ModalForm
    @ref="_modalDelete"
     HeaderText="Delete User"
     SubmitButtonClass="btn-danger"
     SubmitButtonText="Delete"
     AfterCancel="@AfterCancel"
     BeforeSubmitAsync="@DeleteAsync"
     AfterSubmitAsync="@AfterSubmitAsync">
    <p>Delete user <strong>@_activeModel.Email</strong>?</p>
</ModalForm>

@code{
    private AppUserVM _activeModel;

    private Datagrid<AppUserVM> _datagrid;

    private ModalForm _modalEdit;

    private ModalForm _modalDelete;

    private readonly AppUserFilter _filter = new AppUserFilter();

    private readonly SortParam<AppUserSort> _sortParam = new SortParam<AppUserSort>();

    private async Task<ListResponse<AppUserVM>> FetchAsync(Paginate paginate)
    {
        await AdminHubClient.WaitConnectedAsync();
        ListResponse<AppUserVM> listResponse = null;
        await foreach (var response in AdminHubClient.HubConnection
            .StreamAsync<ListResponse<AppUserVM>>(
                "UserList",
                _filter,
                _sortParam.Value,
                paginate
            ))
        {
            listResponse = response;
        }
        return listResponse;
    }

    private async Task EditOpenAsync(AppUserVM context)
    {
        _activeModel = context;
        await _modalEdit.OpenAsync();
    }

    private async Task EditAsync()
    {
        await foreach (var _ in AdminHubClient.HubConnection
            .StreamAsync<bool>(
                "UserEdit",
                _activeModel
            ))
        {
        }
    }

    private async Task DeleteOpenAsync(AppUserVM context)
    {
        _activeModel = context;
        await _modalDelete.OpenAsync();
    }

    private async Task DeleteAsync()
    {
        await HubHelper.WrapAsync(
            message => _modalDelete.SetAlerts(new[] {message}),
            async () =>
            {
                await foreach (var _ in AdminHubClient.HubConnection
                    .StreamAsync<bool>(
                        "UserDelete",
                        _activeModel
                    ))
                {
                }
            });
    }

    private void AfterCancel()
    {
        ResetDefaults();
    }

    private async Task AfterSubmitAsync()
    {
        ResetDefaults();
        await _datagrid.Refresh();
    }

    private void ResetDefaults()
    {
        _activeModel = default;
    }

}
